.settings-container {
  margin-top: 130px;
  width: 100%;
  height: calc(100vh - 150px);
}

.image-flex {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.img-container {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

a {
  display: block;
}

.button-structure {
  width: 721px;
  height: 130px;
  background-color: #ffb600;
  border-radius: 50px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.link {
  text-decoration: none;
}

.logout {
  background-color: red;
  opacity: 0.95;
}

.button-structure p {
  display: inline-block;
  background-color: transparent;
  font-size: 35px;
  font-weight: 350;
}

.button-flex {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  .settings-container {
    margin-top: 70px;
  }
  .image-flex {
    margin-bottom: 50px;
  }
  .img-container {
    width: 170px;
    height: 170px;
  }
  .img-container img {
    width: 100%;
  }

  .button-structure {
    width: 450px;
    height: 80px;
    margin: 40px auto;
  }
  .button-structure p {
    font-size: 20px;
    font-weight: 350;
  }
}
