.settings-container {
  margin-top: 150px;
  width: 100%;
  height: calc(100vh - 150px);
}

a {
  display: block;
}

.button-structure {
  width: 721px;
  height: 130px;
  background-color: #ffb600;
  border-radius: 50px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.logout {
  background-color: #d11a2a;
}

.link {
  text-decoration: none;
}

.button-structure p {
  display: inline-block;
  background-color: transparent;
  font-size: 35px;
  font-weight: 350;
}
