.like-container {
  width: 721px;
  height: 100px;
  margin: auto;
}
.like-img {
  display: inline-block;
  margin-top: -20px;
  padding-left: 40px;
}
.hover:hover {
  margin-top: -8px;
  transition-duration: 100ms;
  cursor: pointer;
}
.like-heart-img {
  position: absolute;
  width: 30px;
  background-color: transparent;
  margin-left: 28px;
  margin-top: 25px;
  opacity: 0.6;
}
.like-heart-img-active {
  opacity: 1;
}

.bookmark-img {
  width: 85px;
  z-index: -1;
}
.bookmark-liked-up {
  margin-top: -90px;
  transition-duration: 200ms;
  pointer-events: none;
  cursor: not-allowed;
}

.bookmark-liked-down {
  margin-top: -15px;
  transition-duration: 200ms;
  pointer-events: none;
  cursor: not-allowed;
}

@media screen and (min-width: 1000px) {
  .like-container {
    width: 500px;
    height: 60px;
  }

  .bookmark-img {
    width: 65px;
  }

  .like-heart-img {
    width: 25px;
    margin-left: 21px;
    margin-top: 20px;
  }

  .not-liked {
    opacity: 0.6;
  }

  .active {
    opacity: 1;
  }
}
