* {
  font-family: noir pro;
}

.logo-log-in {
  font-size: 220px;
  font-weight: 500;
  margin-top: 8%;
}

.btn {
  width: 700px;
  height: 135px;
  font-size: 50px;
}

img {
  width: 100px;
  margin: 50px;
}
